
<!--
<select class="ui dropdown" (change)="PrintValueSelected($event)">
  gender<option value="">Gder</option>
  <option [ngValue]="1">Male</option>
  <option [ngValue]="0" >Female</option>
</select> -->


<!-- Player Name  <form class="ui large form segment"> -->

<!--Trump  -->


<div class="ui dropdown item">
            More <i class="icon dropdown"></i>
  <div class="menu">
   <a class="item"><i class="edit icon"></i> Edit Profile</a>
   <a class="item"><i class="globe icon"></i> Choose Language</a>
   <a class="item"><i class="settings icon"></i> Account Settings</a>
  </div>
</div>
<div class="ui container center aligned page">



    </div>



<!-- [(ngModel)]=round.trump
    <div class="ui segment" >
      <label>Select Trump  :  </label>
      <select class="ui dropdown" >
        <option (click)=getname() ngValue="No Trump">No Trump</option>
        <option value ="Hearts">Hearts</option>
        <option value="CLubes">Clubes</option>
        <option value="Spades">Spades</option>
        <option value="Diamonds" >Diamonds</option>
      </select>
    </div>
    </div>
    </div> -->


    <!--  <div class="ui dropdown selection">
        <input type="hidden" name="suite">
         <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Hearts</div>
          <div class="item">Clubes</div>
          <div class="item">Spades</div>
          <div class="item">Diamonds</div>
        </div>
        <div class="ui segment">

[(ngModel)]="round.partner_name"

        </div>
      </div>



    <div class="ui segment">
      <label>Round Score  :  </label>
      <select class="ui dropdown" [(ngModel)]="round.score">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10 >10</option>
        <option value=11 >11</option>
        <option value=12 >12</option>
        <option value=13 >13</option>
      </select>
    <!--   <div class="ui selection dropdown">
        Score: <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">0</div>
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>
          <div class="item">4</div>
          <div class="item">5</div>
          <div class="item">6</div>
          <div class="item">7</div>
          <div class="item">8</div>
          <div class="item">9</div>
          <div class="item">10</div>
          <div class="item">11</div>
          <div class="item">12</div>
          <div class="item">13</div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <label>Double Score ?    </label>
      <select class="ui dropdown">
        <option [ngValue]="0">No</option>
        <option [ngValue]="1">Yes</option>

      </select>

     <!-- <div class="ui selection dropdown">
        Double Score? <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">YES</div>
          <div class="item">NO</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<script>
//  $('.ui.dropdown.suite').dropdown();
//$(document).ready(function(){
  //        $('.ui.dropdown').dropdown();
    //});
//    $(document).ready(function() {
  //  $('.ui.dropdown').dropdown();
//});
//window.onload = function(){
//    $('.ui.dropdown').dropdown();
//};
</script>




<!--Score
<div class="ui main text container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
<button class="ui red button" (click)="Hello()">Red</button>

 -->

<!--Double Score    </form> -->
