<body>
 <div class="ui main text container" >
      <div class="ui middle aligned center aligned grid">
     <div class="column">
       <h2 class="ui orange image header">
         <div class="content">
           <br>
           Log-in !
         </div>
       </h2>
       <form class="ui large form segment" (ngSubmit)="onSubmit()">
         <div class="ui active dimmer" *ngIf="loading">
           <div class="ui medium text loader">Checking Login Details</div>
         </div>
         <div class="ui stacked segment">
           <div class="field">
             <div class="ui left icon input">
               <i class="user icon"></i>
               <input type="text"   [(ngModel)] = "player.email" [ngModelOptions]="{standalone: true}" placeholder="E-mail address">

             </div>
           </div>
           <div class="field">
             <div class="ui left icon input">
               <i class="lock icon"></i>
               <input type="password" [(ngModel)] = "player.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
             </div>
           </div>
           <button class="ui fluid large teal submit button" type="submit">Login</button>
           <br>
           <button class="ui fluid large red submit button" (click)="register()">Not registered? Click Here</button>
         </div>

         <div class="ui error message"></div>

       </form>
     </div>

   </div>
     <!-- <img src="assets/playing cards.jfif" alt="Trulli"> -->
 </div>
<!-- </body>
<style>
   body {
     background-image: url('assets/playing cards.jfif');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
   }

 </style> -->
