<h3 class="ui center aligned header">Whist Round  {{round}}</h3>
<div class="doubling stackable three column ui grid container">

    <div class="ui column input focus">
      <input type="text" placeholder="Partner Name...">

  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui input focus">
      <input type="text" placeholder="Search...">
    </div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>
