<div class="ui main text container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">



      <h2 class="ui teal image header">
        <div class="content">
          <br>
          <button class="ui labeled icon green basic button" (click)="back()">
            <i class="left chevron icon"></i>
            Back
          </button>
          Register your details!
        </div>
      </h2>

      <form class="ui large form segment" id="form" (ngSubmit)="RegisterUser()">

        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" [(ngModel)]="play.fname" [ngModelOptions]="{standalone: true}" placeholder="First Name">

            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" [(ngModel)]="play.sname" [ngModelOptions]="{standalone: true}" placeholder="Surname">

            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" [(ngModel)]="play.email" [ngModelOptions]="{standalone: true}" placeholder="E-mail address">

            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" [(ngModel)]="play.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large teal submit button" type="submit">Register</button>

          <!-- ################################### -->


        </div>


      </form>

      <div class="ui hidden error message" id="errmss">
        <i class="close icon" (click)="close()"></i>
        <div class="header">
          There were some errors with your submission
        </div>
        <ul class="list">
          <li>{{error}}</li>
        </ul>
      </div>

    </div>
  </div>
